<!DOCTYPE html>
<html lang="en">

<%- partial("_head.html") %>

<body id="page-top" class="index">

  <%- partial("_nav.html") %>

  <%- yield %>

  <%- partial("_footer.html") %>

  <%- partial("_scripts.html") %>

</body>

</html>
