<!-- Horizontal Team Navigation -->

<section id="meet-the-team">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Meet the Team</h2>
        <h3 class="section-subheading text-muted">The best...</h3>
      </div>
    </div><!-- end .row -->

    <div class="row text-center">

      <div class="col-md-4">
        <a href="#board">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <h4 class="service-heading">Board</h4>
        <p class="text-muted"></p>
      </div>

      <div class="col-md-4">
        <a href="#executives">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <h4 class="service-heading">Executives</h4>
        <p class="text-muted"></p>
      </div>

      <div class="col-md-4">
        <a href="#staff">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-group fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <h4 class="service-heading">Staff</h4>
        <p class="text-muted"></p>
      </div>

    </div><!-- end .row -->

  </div><!-- end .container -->

</section><!-- end Horizontal Contact Options -->



<!-- Board -->

<section class="portfolio alt-bg" id="board">

<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Board</h2>
      <h3 class="section-subheading text-muted">Some text...</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#board_john-roach" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/board/john_roach.jpg" alt="John Roach" class="img-responsive img-centered" />
      </a>
      <div class="portfolio-caption">
        <h4>Judge John Roach, Jr.</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#board_jim-francis" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/board/jim_francis.jpg" alt="Jim Francis" class="img-responsive img-centered" />
      </a>
      <div class="portfolio-caption">
        <h4>Jim Francis</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#board_jacob-schick" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/board/jacob_schick.jpg" alt="Jacob Schick" class="img-responsive img-centered" />
      </a>
      <div class="portfolio-caption">
        <h4>Jacob Schick</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#board_sarah-vobora" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/board/sarah_vobora.jpg" alt="Sarah Vobora" class="img-responsive img-centered" />
      </a>
      <div class="portfolio-caption">
        <h4>Sarah Vobora</h4>
      </div>
    </div>

  </div><!-- end .row -->

</div><!-- end .container -->

</section><!-- end Board -->


<!-- Executives -->

<section class="portfolio" id="executives">

<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading" id="executves">Executives</h2>
      <h3 class="section-subheading text-muted">Some text...</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- placeholder -->
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#executive_david-vobora" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/executives/david_vobora.jpg" alt="David Vobora" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>David Vobora</h4>
        <p class="text-muted">Founder / CEO</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#executive_madi-jacob" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/executives/madi_jacob.jpg" alt="Madi Jacob" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>Madi Jacob</h4>
        <p class="text-muted">Director of Operations</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- placeholder -->
    </div>

  </div><!-- end .row -->

</div><!-- end .container -->

</section><!-- end Executives -->


<!-- Staff -->

<section class="portfolio alt-bg" id="staff">

<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading" id="staff">Staff</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#dave-vobora" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/staff/dave_vobora.jpg" alt="Dave Vobora" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>Dave Vobora</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#madi-jacob_t" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/staff/madi_jacob.jpg" alt="Madi Jacob" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>Madi Jacob</h4>
        <p class="text-muted">Athletic Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/david_williams.jpg" alt="David Williams" class="img-responsive portfolio-link" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>David Williams</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/hunter_clark.jpg" alt="Hunter Clark" class="img-responsive portfolio-link" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Hunter Clark</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/zach_couch.jpg" alt="Zach Couch" class="img-responsive portfolio-link" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Zach Couch</h4>
        <p class="text-muted">PT</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/tom_kapioltas.jpg" alt="Tom Kapioltas" class="img-responsive portfolio-link" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Tom Kapioltas</h4>
        <p class="text-muted">Lawyer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/blake_watson.jpg" alt="Blake Watson" class="img-responsive portfolio-link" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Blake Watson</h4>
        <p class="text-muted">Media Director</p>
      </div>
    </div>

  </div><!-- end .row -->

</div><!-- end .container -->

</section><!-- end Staff -->

<!-- Bio Modals -->

<%- partial("bios/_boardJohnRoach.ejs") %>
<%- partial("bios/_boardJimFrancis.ejs") %>
<%- partial("bios/_boardJacobSchick.ejs") %>
<%- partial("bios/_boardSarahVobora.ejs") %>

<%- partial("bios/_execDavidVobora.ejs") %>
<%- partial("bios/_execMadiJacob.ejs") %>

<%- partial("bios/_staffDaveVobora.ejs") %>
<%- partial("bios/_staffMadiJacob.ejs") %>
